.wrapper{
    max-width: 800px;
    background: #eee; 
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 20px;
}

.wrapper h2{
    text-align: center;
}

.mypage-header{
    text-align: center;
    color: red;
}

[type="submit"]{
    cursor: pointer;
    display: block;
    width: 100px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.mypage-container{
    margin-right: auto;
    margin-left: auto;
    background: white;
    border-radius: 10px;
}